[submodule "backend"]
	path = granto-seguros-backend
	url = git@github.com:eduumach/granto-seguros-backend.git
[submodule "front"]
	path = granto-seguros-front
	url = git@github.com:eduumach/granto-seguros-front.git
